@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
    font-family: "CoreSans65Bold";
    src: url("../fonts/CoreSansA65Bold.otf");
    }

#content{
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    grid-auto-rows: minmax(50px, auto);
    max-width: 960px;
    margin: 0 auto;
    font-family: CoreSans65Bold;
    grid-template-areas:
    "header header header header header header"
    "main main main main aside aside"
    "main main main main aside aside"
    "footer footer footer footer footer footer";
}
#content > *{
    padding: 10px;
}

@media screen and (max-width: 1060px){
    #headerBot {
        background-color: black;
      }
    .searchbar {
       float: none;
       display: block;
       margin: 0;
    }
}

@media screen and (max-width: 720px){
    #content{
        grid-template-areas:
        "header header header header header header"
        "main main main main main main"
        "main main main main main main"
        "aside aside aside aside aside aside"
        "footer footer footer footer footer footer";
    }
    .searchbar{
        display: none;
    }
    .navlink{
        display: none;
    }
    nav{
        text-align: center;
    }
}

.searchbar{
    border-width: 0px;
    text-align: right;
    float: right;
}

.topRow {
    grid-area: header;
    background-color: darkgray;
    align-self: center;
    font-size: 12px;
    line-height: 25px;
    word-spacing: 1em;
}

#headerTop {
    grid-area: header;
    background-color: darkgray;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

nav{
    grid-area: nav;
    display: inline-block;
    a:link {
        color: white;
      }
      
    
    a:visited {
        color: white;
      }
      
    a:hover {
        color: white;
      }
      
    
    a:active {
        color: white;
      }
}

.dropdown{
    background-color: #00B587;
    color: white;
    text-align: center;
    display:inline-block;
    font-size: 14px;
    border: none;
    text-align: center;
    margin:0;
    padding: 10px 120px;
}

@media screen and (min-width: 720px) {
    .dropdown  { display: none; }
  }

footer{
    grid-area: footer;
    background-color:#4CAF50;
}

.post{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-color: lightgray;
}
.post-shadow{
    box-shadow: 10px;
}

.post-title{
    font-weight: bold;
    font-size: 16;
}

.post-title-page{
    font-weight: bold;
    font-size: 48;
}

.post-date{
    color: lightgray;
    font-size: 11px;
}

.post-body{
    color: lightgray;
    font-size: 10;
}

.post-underline{
    border-color:#4CAF50;
    border-style:solid;
    margin-right: 30px;
}

.post-readmore{
    background-color: #00B587;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border: none;
    padding: 10px;
}


.aside{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-color: lightgray;
}

.aside-title{
    text-align: center;
    margin: 0;
}

.aside-post{
    color: lightgray;
    font-size: small;
    a:link {
        color: lightgray;
      }
      
    
    a:visited {
        color: lightgray;
      }
      
    a:hover {
        color: lightgray;
      }
      
    
    a:active {
        color: lightgray;
      }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

  .text-center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.post-nav-left{
    color: lightgray;
    text-align: left;
    font-size: 14px;
}

  .post-nav-right{
    color: lightgray;
    text-align: right;
    font-size: 14px;
}

  .post-nav-left-link{
    font-weight: bold;
    text-align: left;
    font-size: 14px; 
}

  .post-nav-right-link{
    font-weight: bold;
    text-align: right;
    font-size: 14px; 
}